<header class="join-header">
    <h2 class="rules">Rules.</h2>
</header>
<main class="join-main">
    <p class="rules">
        Scissors cuts paper, paper covers rock, rock crushes lizard, lizard
        poisons Spock, Spock smashes scissors, scissors decapitates lizard, lizard
        eats paper, paper disproves Spock, Spock vaporizes rock, and as it always
        has, rock crushes scissors !
    </p>

    <div class="row">
        <div class="grid-example col s12 m6 ">
            <a href="/pvpc" class="btn">
                <i class="fas fa-robot"></i>
                P v PC
            </a>
        </div>
        <!--<div class="grid-example col s12 m6">
            <a href="/pvp" class="btn">
                <i class="fas fa-users"></i>
                P v P
            </a>
        </div>-->
    </div>
</main>