<main class="join-main">
    <div class="center score-board row">

        <div id="user-label" class="grid-example col s12 m6 badge">
            <h5 class="" id="">{{name}}</h5>
            <h2 class="" id="userScore">0</h2>
        </div>

        <div id="pc-label" class="grid-example col s12 m6 badge">
            <h5 class="" id="">Computer</h5>
            <h2 class="" id="pcScore">0</h2>
        </div>

        <div class="result">
            <h5>Best of 20!</h5>
            <h4 class="action-message">Make your move!</h4>
        </div>



    </div>
    <div class="choices row">
        <a href="#" class="btn choice" id="r">
            <i class="fas fa-fist-raised"></i>
        </a>
        <a href="#" class="btn choice" id="p">
            <i class="fas fa-paper-plane"></i>
        </a>
        <a href="#" class="btn choice" id="s">
            <i class="fas fa-cut"></i>
        </a>
        <a href="#" class="btn choice" id="l">
            <i class="fas fa-dragon"></i>
        </a>
        <a href="#" class="btn choice" id="sp">
            <i class="fas fa-hand-spock"></i>
        </a>
    </div>
</main>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
</script>