<div class="join-container">
    <header class="join-header">
        <h1>404 Not Found</h1>
    </header>
    <main class="join-main">
        <p>We're sorry, this resource is not found</p>
        <a href="/" class="btn">Go Back</a>
    </main>
</div>