<div class="join-container">
    <header class="join-header">
        <h1>Server Error</h1>
    </header>
    <main class="join-main">
        <p>We're sorry, something went wrong</p>
        <a href="/" class="btn">Go Back</a>
    </main>
</div>